#login-form {
    background-color: #f6f8fa;
    width: 400px;
    /* padding: 25px;
    border-radius: 6px; */
    /* height: 270px; */
    /* border: 1px solid #eaecef; */
}

.no-bottom-margin.ant-form-item {
    margin-top: 15px;
}

.fullHeight {
    min-height: 100vh;
}

.login-form-forgot {
    float: right;
}
