.car-image {
    margin: 15px 0 15px 0
}

.descriptions {
    max-width: 50%;
}

.ant-input[disabled].disabled-input {
    color: black;
}

.disabled-input {
    color: black !important;
}

.ant-input-number-disabled.disabled-input {
    background-color: transparent;
    color: black;
}